# Xcode
./iOS_client/PublicFloat/.DS_Store
./iOS_client/PublicFloat/build/
./iOS_client/PublicFloat/*.pbxuser
./iOS_client/PublicFloat/!default.pbxuser
./iOS_client/PublicFloat/*.mode1v3
./iOS_client/PublicFloat/!default.mode1v3
./iOS_client/PublicFloat/*.mode2v3
./iOS_client/PublicFloat/!default.mode2v3
./iOS_client/PublicFloat/*.perspectivev3
./iOS_client/PublicFloat/!default.perspectivev3
./iOS_client/PublicFloat/*.xcworkspace
./iOS_client/PublicFloat/!default.xcworkspace
./iOS_client/PublicFloat/xcuserdata
./iOS_client/PublicFloat/profile
./iOS_client/PublicFloat/*.moved-aside
./iOS_client/PublicFloat/DerivedData
./iOS_client/PublicFloat/.idea/
./iOS_client/PublicFloat/*.xcuserstate

